<nav class="navbar bg-light">
    <a class="navbar-brand">SQLite Admin</a>
    <a href="/settings"><i class="fas fa-cog fa-2x float-right"></i></a>
</nav>

<form id="backToDBForm" action="/databases/getDatabase" method="get" class="d-none">
    <input type="hidden" name="location" id="location" value="{{database.location}}">
</form>


<link rel="stylesheet" href="/css/table.css">

<style>
    @keyframes success {
        from {background-color: rgb(40, 167, 69);}
        to  {background-color: white;}
    }
    @keyframes successGrey {
        from {background-color: rgb(40, 167, 69);}
        to  {background-color: rgba(0, 0, 0, 0.05);}
    }
    @keyframes error {
        from {background-color: rgb(220, 53, 69);}
        to  {background-color: white;}
    }

    @keyframes errorGrey {
        from {background-color: rgb(220, 53, 69);}
        to  {background-color: rgba(0, 0, 0, 0.05);}
    }
  /*  #table {
        animation-name: error;
        animation-duration: 5s;
    }*/

</style>
<div class="container-fluid mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/databases">Databases</a></li>
            <li class="breadcrumb-item"><a href="#" onclick="document.getElementById('backToDBForm').submit()">{{database.name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page" id="table">
                {{table.name}}
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu">
                        {{#each database.tables as |table|}}
                            {{#ifEquals ../table.name table.name}}

                            {{else}}
                                <form class="d-inline" action="/databases/getTable">
                                    <input type="hidden" name="location" value="{{../../database.location}}">
                                    <input type="hidden" name="table" value="{{table.name}}">
                                    <button class="dropdown-item" type="submit">{{table.name}}</button>
                                </form>
                            {{/ifEquals}}

                        {{/each}}
                    </div>
                </div>
            </li>
        </ol>
    </nav>

    <div id="errorDiv">
        {{#each errors as |error|}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{/each}}
    </div>

    {{fromExport}}

    <ul class="nav nav-tabs mb-4" role="tablist" id="myTab">
        <li class="nav-item">
            {{#unless fromExport}}
                <a class="nav-link active" id="browse-tab" data-toggle="tab" href="#browseDiv" role="tab" aria-controls="browseDiv" aria-selected="true">Browse</a>
            {{else}}
                <a class="nav-link" id="browse-tab" data-toggle="tab" href="#browseDiv" role="tab" aria-controls="browseDiv" aria-selected="false">Browse</a>
            {{/unless}}
        </li>
        <li class="nav-item">
            <a class="nav-link" id="sql-tab" data-toggle="tab" href="#structureDiv" role="tab" aria-controls="structureDiv" aria-selected="false">Structure</a>
        </li>
        <li class="nav-item">
            {{#if fromExport}}
                <a class="nav-link active" id="export-tab" data-toggle="tab" href="#exportDiv" role="tab" aria-controls="exportDiv" aria-selected="true">Export</a>
            {{else}}
                <a class="nav-link" id="export-tab" data-toggle="tab" href="#exportDiv" role="tab" aria-controls="exportDiv" aria-selected="false">Export</a>
            {{/if}}
        </li>
    </ul>

    <div class="tab-content">
        <div id="browseDiv" class="tab-pane fade {{#unless fromExport}}show active{{/unless}}" role="tabpanel" aria-labelledby="browseDiv">
            <div class="float-left mr-5">
                <form method="get" class="d-inline mr-1" action="/databases/getTable">
                    <input type="hidden" name="location" value="{{database.location}}">
                    <input type="hidden" name="table" value="{{table.name}}">
                    {{#if column}}
                        <input type="hidden" name="column" value="{{column}}">
                    {{/if}}
                    {{#if order}}
                        <input type="hidden" name="order" value="{{order}}">
                    {{/if}}
                    {{#if filter}}
                        <input type="hidden" name="filter" value="{{filter}}">
                    {{/if}}
                    <input type="hidden" name="page" value="{{previousPage}}">
                    {{#if quantity}}
                        <input type="hidden" name="quantity" value="{{quantity}}">
                    {{/if}}

                    {{#if disabledPrevious}}
                        <button type="submit" class="btn btn-sm btn-outline-primary" disabled><i class="fas fa-angle-left"></i></button>
                    {{else}}
                        <button type="submit" class="btn btn-sm btn-outline-primary"><i class="fas fa-angle-left"></i></button>
                    {{/if}}
                </form>
                <form class="d-inline" method="get" action="/databases/getTable">
                    <input type="hidden" name="location" value="{{database.location}}">
                    <input type="hidden" name="table" value="{{table.name}}">
                    {{#if column}}
                        <input type="hidden" name="column" value="{{column}}">
                    {{/if}}
                    {{#if order}}
                        <input type="hidden" name="order" value="{{order}}">
                    {{/if}}
                    {{#if filter}}
                        <input type="hidden" name="filter" value="{{filter}}">
                    {{/if}}
                    {{#if page}}
                        <input type="hidden" name="page" value="{{page}}">
                    {{/if}}
                        <label for="quantity" >Quantity:
                            <select required name="quantity" id="quantity" class="form-control" onchange="console.log(this.parentElement.parentElement.submit())">
                                <option value="" disabled>Select a quantity</option>
                                {{#if is20}}
                                    <option value="25" selected>25</option>
                                {{else}}
                                    <option value="25">25</option>
                                {{/if}}
                                {{#if is50}}
                                    <option value="50" selected>50</option>
                                {{else}}
                                    <option value="50">50</option>
                                {{/if}}
                                {{#if is100}}
                                    <option value="100" selected>100</option>
                                {{else}}
                                    <option value="100">100</option>
                                {{/if}}
                                {{#if is200}}
                                    <option value="200" selected>200</option>
                                {{else}}
                                    <option value="200">200</option>
                                {{/if}}
                            </select>
                        </label>
                </form>

                <form class="d-inline-block mt-1" method="get" action="/databases/getTable">
                    <input type="hidden" name="location" value="{{database.location}}">
                    <input type="hidden" name="table" value="{{table.name}}">
                    {{#if column}}
                        <input type="hidden" name="column" value="{{column}}">
                    {{/if}}
                    {{#if order}}
                        <input type="hidden" name="order" value="{{order}}">
                    {{/if}}
                    {{#if filter}}
                        <input type="hidden" name="filter" value="{{filter}}">
                    {{/if}}
                    <input type="hidden" name="page" value="{{nextPage}}">
                    {{#if quantity}}
                        <input type="hidden" name="quantity" value="{{quantity}}">
                    {{/if}}

                    {{#if disableNext}}
                        <button type="submit" class="btn btn-sm btn-outline-primary" disabled><i class="fas fa-angle-right"></i></button>
                    {{else}}
                        <button type="submit" class="btn btn-sm btn-outline-primary"><i class="fas fa-angle-right"></i></button>
                    {{/if}}
                </form>
            </div>

            <div>
                <p >Notes: <br>
                    <b>Double click</b> to fast edit a cell.<br>
                    <b>Right click</b> to open context menu.</p>
            </div>

            <div id="tableDiv"  class="table-responsive" style="width: 100%;overflow: scroll; height: 650px; display: block;">
                <table id="realTable" class="table table-striped table-sm table-bordered" >
                    <caption>Rows from {{table.name}}</caption>
                    <thead class="thead-dark">
                    <tr>
                        {{#unless table.pk}}
                            <th>
                                ROWID
                                <form class="d-inline" action="/databases/getTable">
                                    <input type="hidden" name="location" value="{{database.location}}">
                                    <input type="hidden" name="table" value="{{table.name}}">
                                    <input type="hidden" name="column" value="ROWID">
                                    {{#if page}}
                                        <input type="hidden" name="page" value="{{page}}">
                                    {{/if}}
                                    {{#if quantity}}
                                        <input type="hidden" name="quantity" value="{{quantity}}">
                                    {{/if}}
                                    {{#if selected}}
                                        {{#if ASC}}
                                            <input type="hidden" name="order" value="DESC">
                                            <a onclick="this.parentElement.submit()"><i style="cursor: pointer" class="fas fa-sort-up"></i></a>
                                        {{else}}
                                            <input type="hidden" name="order" value="ASC">
                                            <a onclick="this.parentElement.submit()"><i style="cursor: pointer" class="fas fa-sort-down"></i></a>
                                        {{/if}}
                                    {{else}}
                                        <input type="hidden" name="order" value="ASC">
                                        <a onclick="this.parentElement.submit()"><i style="cursor: pointer;" class="fas fa-sort ml-1"></i></a>
                                    {{/if}}
                                </form>
                            </th>
                        {{/unless}}
                        {{#each table.columns as |column|}}
                            <th>{{column.name}}
                                <form class="d-inline" action="/databases/getTable">
                                    <input type="hidden" name="location" value="{{../database.location}}">
                                    <input type="hidden" name="table" value="{{../table.name}}">
                                    <input type="hidden" name="column" value="{{column.name}}">
                                    {{#if page}}
                                        <input type="hidden" name="page" value="{{../page}}">
                                    {{/if}}
                                    {{#if quantity}}
                                        <input type="hidden" name="quantity" value="{{../quantity}}">
                                    {{/if}}
                                    {{#if column.selected}}
                                        {{#if column.ASC}}
                                            <input type="hidden" name="order" value="DESC">
                                            <a onclick="this.parentElement.submit()"><i style="cursor: pointer" class="fas fa-sort-up"></i></a>
                                        {{else}}
                                            <input type="hidden" name="order" value="ASC">
                                            <a onclick="this.parentElement.submit()"><i style="cursor: pointer" class="fas fa-sort-down"></i></a>
                                        {{/if}}
                                    {{else}}
                                        <input type="hidden" name="order" value="ASC">
                                        <a onclick="this.parentElement.submit()"><i style="cursor: pointer;" class="fas fa-sort ml-1"></i></a>
                                    {{/if}}
                                </form>
                            </th>
                        {{/each}}
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr>
                        {{#unless table.pk}}
                            <td>
                                <form class="d-inline" action="/databases/getTable">
                                    <input type="hidden" name="location" value="{{database.location}}">
                                    <input type="hidden" name="table" value="{{table.name}}">
                                    <input type="hidden" name="column" value="ROWID">
                                    {{#if page}}
                                        <input type="hidden" name="page" value="{{page}}">
                                    {{/if}}
                                    {{#if quantity}}
                                        <input type="hidden" name="quantity" value="{{quantity}}">
                                    {{/if}}
                                    <textarea class="filters mt-1" style="width: 100%;" name="filter" placeholder="Filter by ROWID"></textarea>
                                </form>
                            </td>
                        {{/unless}}


                        {{#each table.columns as |column|}}
                            <td>
                                <form class="d-inline" action="/databases/getTable">
                                    <input type="hidden" name="location" value="{{../database.location}}">
                                    <input type="hidden" name="table" value="{{../table.name}}">
                                    <input type="hidden" name="column" value="{{column.name}}">
                                    <textarea class="filters mt-1" name="filter" style="width: 100%;" placeholder="Filter by {{column.name}}"></textarea>
                                </form>
                            </td>
                        {{/each}}
                        <td></td>
                    </tr>
                    </tbody>
                    <tbody >

                    {{#each table.rows as |row|}}
                        <tr ROWID="{{row.ROWID}}">

                            {{#each row.row}}
                                <td  wasNull="{{this.isNull}}" {{#unless this.column.pk}}ondblclick="editCell(this)" class="cells"{{/unless}} column="{{this.column.name}}" value="{{this.value}}">
                                    {{#if this.isNull}}
                                        <span class="nullValues">&lt;null&gt;</span>
                                    {{else}}
                                        {{this.value}}
                                    {{/if}}
                                </td>
                            {{/each}}
                            <td>
                                <form action="/databases/deleteRow" class="d-inline" method="post">
                                    <input type="hidden" value="{{row.ROWID}}" name="rowId">
                                    <input type="hidden" name="table" value="{{../table.name}}">
                                    <input type="hidden" name="location" value="{{../database.location}}">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>

            </div>

        </div>
        <div id="structureDiv" role="tabpanel" aria-labelledby="structureDiv" class="tab-pane fade">
            <div class="row">
                <div class="col-4">
                    Query use to create this table:
                    <textarea id="structureQuery" class="form-control"  readonly>{{table.sql}}</textarea>
                </div>
                <div class="table-responsive col">
                    <table class="table table-striped table-sm">
                        <caption>Structure for {{table.name}}</caption>
                        <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Not NULL</th>
                            <th>Default value</th>
                            <th>Primary key</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each table.columns as |column|}}
                            <tr>
                                <td>{{column.name}}</td>
                                <td>{{column.type}}</td>
                                <td>{{column.notnull}}</td>
                                <td>{{column.dflt_value}}</td>
                                <td>{{column.pk}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="exportDiv" role="tabpanel" aria-labelledby="exportDiv" class="tab-pane fade {{#if fromExport}}show active{{/if}}">
            <form action="/databases/export" method="post">
                <input type="hidden" name="table" value="{{table.name}}">
                <input type="hidden" name="location" value="{{database.location}}">

                <div class="form-group">
                    <label for="type">Export format:</label>
                    <select name="type" id="type" class="form-control" required onchange="
                            if (this.options[this.selectedIndex].value) {
                            document.getElementById('exportButton{{table.name}}').innerText = 'Export as ' + this.options[this.selectedIndex].value;
                            }
                            else {
                            document.getElementById('exportButton{{table.name}}').innerText = 'Export';
                            }
                            ">
                        <option value="">Select an export format from the drop down</option>
                        {{#if ../tsv}}
                            <option value="tsv" selected>TSV</option>
                            <option value="csv">CSV</option>
                        {{else}}
                            {{#if ../csv}}
                                <option value="tsv">TSV</option>
                                <option value="csv" selected>CSV</option>
                            {{else}}
                                <option value="tsv">TSV</option>
                                <option value="csv">CSV</option>
                            {{/if}}
                        {{/if}}
                    </select>
                </div>

                <div class="row">
                    <div class="col">
                        <table class="table table-sm">
                            <caption>Columns to export</caption>
                            <thead>
                            <tr>
                                <th>Column</th>
                                <th>Name to use in export</th>
                                <th><input type="checkbox" id="selectAllColumns"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each table.columns as |column|}}
                                <tr>
                                    <td>{{column.name}}</td>
                                    <td><input type="text" class="form-control" value="{{column.name}}" name="columnNames"></td>
                                    <td><input type="checkbox" class="columnCheckBoxes" name="columns" value="{{column.name}}"></td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="whereClause">WHERE cause:</label>
                            <textarea name="whereClause" id="whereClause" class="form-control" cols="30" rows="10">{{#if whereClause}}{{whereClause}}{{else}}WHERE 1{{/if}}</textarea>
                        </div>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary" id="exportButton{{table.name}}">Export</button>
            </form>
        </div>
    </div>
</div>

<ul id="contextMenu" class="d-none">
    <li id="edit">Edit</li>
    <li id="setNull">Set NULL</li>
</ul>

<script src="/js/table.js"></script>
<script>
    const selectAll = document.getElementById('selectAllColumns');
    const checkBoxes = document.getElementsByClassName("columnCheckBoxes");

    selectAll.addEventListener("change", (evt) => {
        for (let i = 0; i < checkBoxes.length; i++) {
            checkBoxes[i].checked  = evt.target.checked;
            if (evt.target.checked) {
                checkBoxes[i].parentElement.previousElementSibling.firstElementChild.name = 'columnNames';
            }
            else {
                checkBoxes[i].parentElement.previousElementSibling.firstElementChild.name = "";
            }
        }
    });

    for (let i = 0; i < checkBoxes.length; i++) {
        checkBoxes[i].checked  = true;
    }

    selectAll.checked = true;

    for (let i = 0; i < checkBoxes.length; i++) {
        checkBoxes[i].addEventListener("change", (evt) => {
            console.log("change");
            if (evt.target.checked) {
                evt.target.parentElement.previousElementSibling.firstElementChild.name = "columnNames";
            }
            else {
                evt.target.parentElement.previousElementSibling.firstElementChild.name = '';
            }
        });
    }
</script>
